<h1>Ruby on Rails : Première application</h1>
<p>Un Twitter like d'après un superbe tutoriel (<%= link_to 'http://ruby.railstutorial.org/', 'http://ruby.railstutorial.org/', {:target => '_blank'} %>)</p>
<%= link_to "Enregistrez-vous dès maintenant !", signup_path, :class => 'signup_button round' %>