<h1>Aide</h1>
<p>Besoin d'aide ?</p>
<li>Pour signaler un problème : <%= link_to 'https://github.com/graindeweb/first_app/issues' %></li>
<li>Et bientôt un formulaire de contact : <%= link_to 'contact', contact_path %></li>
