<tr>
  <td class="micropost">
    <span class="content"><%= auto_link(wrap(micropost.content)) %></span>
    <span class="timestamp">
      Posté il y a <%= time_ago_in_words(micropost.created_at) %>.
    </span>
  </td>
  <% if current_user?(micropost.user) %>
  <td>
    <%= link_to "Supprimer", micropost, :method => :delete,
                                        :confirm => "Etes-vous sûr ?",
                                        :title => micropost.content %>
  </td>
  <% end %>
</tr>